@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Rubik+Glitch&family=Share+Tech&display=swap');

/* 
    font-family: 'JetBrains Mono', monospace;
    font-family: 'Rubik Glitch', monospace;
    font-family: 'Share Tech', sans-serif;
 */

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    background-color: #cccccc;
    color: #333333;
    /* font-family: 'JetBrains Mono', monospace; */
    font-family: 'Share Tech', sans-serif;
    font-size: 1.25rem;
    /* background-color: #111111;
    color: #dddddd; */
    margin: 0 320px 32px;
    /* border: 1px dashed red; */
    /* margin: 0 auto; */
}

nav {
    /* padding: 0 0 0 16px; */
    margin-bottom: 24px;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

/* h3 { */
/* display: none; */
/* font-size: 2rem; */
/* } */

header {
    margin-bottom: 12px;
    text-decoration: underline;
}

a {
    /* background-color: pink; */
    /* border: 2px dashed black; */
    text-decoration: none;
    color: #222222;
}

a:hover {
    color: #666666;
}

ul {
    list-style-type: none;
}

ul li:before {
    content: '\203A';
    position: absolute;
    margin-left: -16px;
}

.logo {
    font-family: 'Rubik Glitch', monospace;
    font-size: 64px;
    letter-spacing: 16px;
    padding: 8px 0;
}

.nav-links-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.about {
    border: 1px solid #ffffff;
    font-family: 'JetBrains Mono', monospace;
    /* font-size: 1rem; */
}

.about h2,
.about h3,
.about p {
    margin: 24px;
}

.all-posts {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* width: 320px; */
    gap: 40px 8px;
}

.post-container {
    background-color: #cccccc;
    border: 1px solid #ffffff;
    width: 320px;
    height: 100%;
}

.post-container:hover {
    background-color: #d8d8d8;
}

.post-username {
    background-color: #bbbbbb;
    /* border: 1px dashed red; */
    /* width: 100%; */
    /* height: 100%; */
    padding: 4px 8px;
    /* margin: 80px; */
    /* box-sizing: border-box; */
}

.post-username:hover {
    background-color: #d8d8d8;
}

.post-body {
    /* border: 1px dashed red; */
    /* width: 100%; */
    /* height: 100%; */
    padding: 0px 8px 8px;
    /* background-color: green; */
    /* margin: 80px; */
    /* box-sizing: border-box; */
}

.post-container img {
    /* width: 100%; */
    /* width: auto; */
    max-width: 100%;
    /* padding: 24px; */

    /* display: block; */
}

.posted-at-date {
    color: #999999;
    font-style: italic;
    font-size: 1rem;
}

.post-body:hover .posted-at-date {
    color: #aaaaaa;
    /* font-style: italic; */
}

/* .post-container a {
    background-color: blue;
} */

.preview-windows-container {
    background-color: #ffffff;
    /* border: solid #ffffff;
    border-width: 0 1px 1px; */
    border-bottom: 4px solid #ffffff;
    /* border-width: 1px; */
    /* border-width: 1px; */
    display: flex;
    flex-flow: row nowrap;
    gap: 4px;
    width: 100%;
    /* max-width: 1200px; */
    /* max-width: 740px; */
    /* padding: ; */
    max-height: 600px;
    box-sizing: border-box;
    /* margin-bottom: 32px; */
}

.preview-window-before,
.preview-window-after {
    border: solid #ffffff;
    background-color: #cccccc;
    /* border: 1px solid #0000dd; */
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    max-height: 100%;
    box-sizing: border-box;
}

.preview-window-before {
    border-width: 0 1px 0 4px;
}

.preview-window-after {
    border-width: 0 4px 0 1px;
}

.preview-window-before img,
.preview-window-after img {
    display: block;
    /* width: auto; */
    max-width: 100%;
    /* height: auto; */
    max-height: 100%;
}

.image-select-container {
    /* width: 85%; */
    /* max-width: 1180px; */
    background: #ffffff;
    /* margin: .65rem auto; */
    padding: 10px;
    border-radius: 8px 8px 0 0;
}

.image-file {
    /* border: 1px dashed red; */
    display: none;
    /* width: 600px; */
}

.glitch-controls {
    margin-top: 8px;
}

/* .details { */
/* border: 1px solid red; */
/* max-width: 100%; */
/* } */

.details h2,
.details p {
    margin: 8px 0;
    /* padding: 16px; */
}

.details img {
    /* width: auto; */
    max-width: 100%;
    border: 1px solid #ffffff;
    padding: 16px;
    box-sizing: border-box;
}

.file-store {
    display: inline;
}

.form-and-image {
    display: flex;
    flex-direction: row;
    /* padding: 16px; */
    /* box-sizing: border-box; */
}

.form-and-image form {
    width: 50%;
    /* border: 1px solid #ffffff; */
    /* padding: 16px; */
    /* box-sizing: border-box; */
}

.form-and-image img {
    width: auto;
    max-width: 50%;
    border: 1px solid #ffffff;
    padding: 16px;
    box-sizing: border-box;
}

.post-description {
    width: 75%;
}

#id_description {
    width: 75%;
}

#id_social_link {
    width: 320px;
}

.button-box {
    /* border: 1px solid green; */
    /* height: 64px; */
    /* width: 240px; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    margin: 16px 0 24px;
    /* width: auto; */
    /* width: 100%; */
    /* box-sizing: border-box; */
}

.button {
    /* display: block; */
    /* text-align: center; */
    font-family: 'JetBrains Mono', monospace;
    font-size: 1rem;
    background-color: #c0c0c0;
    border: 2px solid;
    border-radius: 16px;
    padding: 4px 8px;
    /* width: 100%; */
    /* width: auto; */
}

.button:hover {
    background-color: #d0d0d0;
}

.blue {
    border-color: #3333dd;
}

.blue:hover {
    border-color: #9999ff;
}

.red {
    border-color: #dd3333;
}

.red:hover {
    border-color: #ff9999;
}

.warning {
    color: #cc2222;
}

@media (orientation: portrait),
(max-width: 1339px) {
    body {
        font-size: 0.85rem;
        margin: 4px;
        /* width: 100%; */
    }

    .logo {
        text-align: center;
        font-size: 32px;
        letter-spacing: 6px;
        padding: 8px 0;
    }

    .post-container {
        width: 90%;
    }

    /* .image-select-container {
        width: 96%;
        padding: 8px;
    } */

    .about h2,
    .about h3,
    .about p {
        margin: 16px;
    }

    .button {
        font-size: 0.85rem;
    }

    .preview-windows-container {
        flex-flow: column-reverse nowrap;
    }

    .preview-window-before,
    .preview-window-after {
        width: 100%;
        border-width: 0 4px;
    }

    /* .preview-window-before {
        border-width: 0 1px 0 4px;
    } */

    /* .preview-window-after {
        border-width: 0 4px 0 1px;
    } */

    .form-and-image {
        flex-direction: column;
        /* padding: 16px; */
        /* box-sizing: border-box; */
    }

    .form-and-image form {
        width: auto;
        margin-bottom: 16px;
    }

    .form-and-image img {
        max-width: 100%;
    }

    #id_social_link {
        width: 264px;
    }
}