@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Rubik+Glitch&family=Share+Tech&display=swap');

/* 
    font-family: 'JetBrains Mono', monospace;
    font-family: 'Rubik Glitch', monospace;
    font-family: 'Share Tech', sans-serif;
 */

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    background-color: #cccccc;
    color: #333333;
    /* font-family: 'JetBrains Mono', monospace; */
    font-family: 'Share Tech', sans-serif;
    font-size: 1.25rem;
    /* background-color: #111111;
    color: #dddddd; */
    margin: 0 240px;
    /* margin: 0 auto; */
}

nav {
    /* padding: 0 0 0 16px; */
    margin-bottom: 24px;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

header {
    margin-bottom: 12px;
}

a {
    /* background-color: pink; */
    /* border: 2px dashed black; */
    text-decoration: none;
    color: #333333;
}

a:hover {
    color: #777777;
}

.logo {
    font-family: 'Rubik Glitch', monospace;
    font-size: 64px;
    letter-spacing: 16px;
    padding: 8px 0;
}

.nav-links-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

/* .left-side, .right-side {
    width: 20%;
} */

/* .left-side {
    float: left;
} */

/* .right-side {
    float: right;
} */

.all-posts {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* width: 320px; */
    gap: 16px;
}

.post-container {
    background-color: #bbbbbb;
    border: 1px solid #ffffff;
    width: 320px;
    /* width: 100%; */
    /* overflow: hidden; */
    /* margin: 0; */
    height: 100%;
    padding: 6px 8px;
}

.post-container img {
    /* width: auto; */
    max-width: 100%;
    padding: 2px;
    /* display: block; */
}

.preview-windows-container {
    display: flex;
    flex-flow: row nowrap;
    gap: 12px;
    width: 100%;
    max-width: 1200px;
    /* max-width: 740px; */
    /* padding: ; */
    max-height: 600px;
}

.preview-window {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    max-height: 100%;
}

.preview-window img {
    display: block;
    /* width: auto; */
    max-width: 100%;
    /* height: auto; */
    max-height: 100%;
}

.image-select-container {
    width: 85%;
    max-width: 1180px;
    background: #f1f2f3;
    /* margin: .65rem auto; */
    padding: 10px;
    border-radius: 4px;
}

.image-file {
    /* border: 1px dashed red; */
    display: none;
    /* width: 600px; */
}

@media (orientation: portrait) {
    .image-select-container {
        width: 96%;
        padding: 8px;
    }

    .preview-windows-container {
        flex-flow: column nowrap;
    }

    .preview-window {
        width: 100%;
    }
}





.debug {
    border: 1px dashed red;
}

.blue {
    border-color: blue;
}

.green {
    border-color: green;
}

.orange {
    border-color: orange;
}

.black {
    border-color: black;
}

.thick {
    border-width: 3px;
}