{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<header>
    <h1>About</h1>
</header>
<div class="about">
    <h2>'Glitch Gator' is a 'GLITCH art GenerATOR'.</h2>
    <h3>&#128010; Developed by: Jordan Bortner</h3>
    <p>General Assembly - Software Engineering Intensive October 31, 2022 cohort</p>
    <h3>
        <a href="https://github.com/jordbort/capstone-glitch_generator" target="_blank"
            rel="noopener noreferrer">Check out the repo on GitHub!</a>
    </h3>
    <p>Technologies used:</p>
    <ul>
        <li>Django</li>
        <li>PostgreSQL</li>
        <li>Amazon Web Services (AWS) S3 Buckets</li>
        <!-- <li>Pytz</li> -->
        <li>Python</li>
        <li>JavaScript</li>
        <li>HTML</li>
        <li>CSS</li>
    </ul>
</div>
{% endblock %}