{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<header>
    <h1>About</h1>
</header>
<h2>"Glitch Gator" is a GLITCH art GenerATOR</h2>
<br />
<h3><a href="https://github.com/jordbort/capstone-glitch_generator" target="_blank" rel="noopener noreferrer">GitHub Repo</a></h3>
<h4>Technologies used:</h4>
<ul>
    <li>Django</li>
    <li>PostgreSQL</li>
    <li>Amazon Web Services (AWS) S3 Buckets</li>
    <!-- <li>Pytz</li> -->
    <li>Python</li>
    <li>JavaScript</li>
    <li>HTML</li>
    <li>CSS</li>
</ul>
{% endblock %}