{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<header>
    <h1>About</h1>
</header>
<div class="about">
    <h2>'Glitch Gator' is a 'GLITCH art GenerATOR'.</h2>
    <h3>&#128010; Developed by: Jordan Bortner</h3>
    <p>General Assembly - Software Engineering Intensive October 31, 2022 cohort</p>
    <h3>
        <a href="https://github.com/jordbort/capstone-glitch_generator" target="_blank" rel="noopener noreferrer">Check
            out the repo on GitHub!</a>
    </h3>
    <p>Technologies used:</p>
    <ul>
        <li>Django</li>
        <li>PostgreSQL</li>
        <li>Amazon Web Services (AWS) S3 Buckets</li>
        <!-- <li>Pytz</li> -->
        <li>Python</li>
        <li>JavaScript</li>
        <li>HTML</li>
        <li>CSS</li>
    </ul>
    <br />
    <h1>FAQ</h1>
    <p class="question">"What is 'glitch art'?"</p>
    <p class="answer"><a href="https://en.wikipedia.org/wiki/Glitch_art" target="_blank"
            rel="noopener noreferrer">According to Wikipedia,</a> glitch art is "the practice of using digital or analog
        errors for aesthetic purposes by either corrupting digital data or physically manipulating electronic devices."
        This site was built to function both as a tool for making glitch art, and as a platform to share your creations
        with others.</p>
    <br />
    <p class="question">"What types of images can I use?"</p>
    <p class="answer">Most images are supported! If you're new to glitch art, I recommend starting with a JPEG-format
        image, because they are relatively resilient, yet can still yield interesting results.</p>
    <br />
    <p class="question">"Can I upload other file types?"</p>
    <p class="answer">Only image files are accepted, but there are many file formats to choose from! JPEG, PNG, GIF
        (static or animated), BMP, WEBM, and SVG are among some common image formats out there. They each
        corrupt/"behave" differently, so I encourage you to experiment with various file types to see what you can come
        up with!</p>
    <br />
    <p class="question">"I was glitching my image, and it disappeared! What happened?"</p>
    <p class="answer">As the image data becomes more corrupted, the file becomes increasingly unstable. This can
        eventually lead to it becoming broken. However, you can use the "Reset" button to start over, or upload a new
        image.</p>
    <br />
    <p class="question">"Why does my post look different from the image I made?"</p>
    <p class="answer">When its data is corrupted, an image's appearance becomes less predictable. The way it renders
        on-screen is left somewhat up to interpretation, which means you may get different results viewing the post on a
        desktop browser compared to looking at it on a mobile browser, for example. That's the beauty of glitch art!</p>
    <br />
    <p class="question">"Why is my image breaking so much? I barely touched it!"</p>
    <p class="answer">As mentioned above, different file types behave in different ways. Some image formats, such as PNG
        and GIF, are particularly fragile. They're also capable of yielding unique and interesting results, though, so
        it's worth being patient with them!</p>
</div>
{% endblock %}