{% load static %}
<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
    {% block scripts %}{% endblock %}
    <title>Glitch Gator - {% block title %}{% endblock %}</title>
</head>

<body>
    <nav>
        <h1 class="logo">GLITCH_GATOR</h1>
        <div class="nav-links-container">
            <div class="left-side">
                <a href="/">Home</a> |
                <a href="{% url 'about' %}">About</a> |
                <a href="{% url 'image_maker' %}">Create glitch art</a>
            </div>
            <div class="right-side">

                {% if user.is_authenticated %}
                <span>Logged in:
                    <a href="/profile/{{auth_profile.id}}/">
                        {{user.username}}
                    </a>
                </span> |
                <a href="{% url 'logout' %}">Log out</a>
                {% else %}
                <a href="{% url 'login' %}">Log in</a> |
                <a href="{% url 'register' %}">Make an account</a>
                {% endif %}

            </div>
        </div>
    </nav>
    {% block content %}{% endblock %}
</body>

</html>