{% extends 'base.html' %}

{% block title %}Delete Post{% endblock %}

{% block content %}

{% if post.user.id == auth_profile.user_id %}
<header>
    <h1>Delete your post</h1>
</header>
<h3 class="warning">Are you sure? There's no going back!</h3>

<div>
    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Delete post" />
    </form>
    <br />
    <div class="form-and-image">
        <img src={{post.image_url}} width="50%" height="auto" />
    </div>

    {% if post.description %}
    <p>Description: {{post.description}}</p>
    {% endif %}

</div>
<div class="button-box">
    <a href="{% url 'post_detail' post.pk %}" class="button red">Cancel and go back</a>
</div>
{% endif %}

{% endblock %}