{% extends 'base.html' %}

{% load tz %}

{% block title %}Post{% endblock %}

{% block content %}
<header>

    {% for profile in profiles %}
    {% if post.user.id == profile.user.id %}
    <h1>
        <a href="{% url 'profile_detail' profile.pk %}">Posted by: {{profile.user.username}}</a>
    </h1>
    {% endif %}
    {% endfor %}

</header>
<div class="details">
    <h2>{{post.description}}</h2>

    {% timezone change_to_profile_timezone %}
    <p class="posted-at-date">{{post.created_at | date:'F d'}}</p>
    {% endtimezone %}

    <img src={{post.image_url}} />
</div>
<div>

    {% if post.user.id == auth_profile.user_id %}
    <div class="button-box">
        <a href="{% url 'post_edit' post.pk %}" class="button blue">Edit your post</a>
    </div>
    <div class="button-box">
        <a href="{% url 'post_delete' post.pk %}" class="button red">Delete your post</a>
    </div>
    {% endif %}

</div>

{% endblock %}