{% extends 'base.html' %}

{% block title %}Delete Post{% endblock %}

{% block content %}
<header>
    <h2>Delete Post</h2>
</header>

<span class="debug">Checking again: are you {{post.user.username}}?</span>
{% if post.user.id == auth_profile.user_id %}
<span class="debug">yes, you're {{auth_profile}}! please proceed</span>
<h3>Are you sure you want to delete this post? There's no going back!</h3>

<div class="debug blue">
    <img src={{post.image_url}} width="50%" height="auto" />
    <p>description: {{post.description}}</p>
</div>

<form action="" method="post">
    {% csrf_token %} {{form.as_p}} <input type="submit" value="Delete post" />
</form>

{% else %}
<span class="debug">no, you're {{auth_profile}}! you shouldn't be here!</span>
{% endif %}

{% endblock %}