{% extends 'base.html' %}

{% load tz %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Home</h2>

{% for post in posts %}
<!-- <p class="debug">A post exists!</p> -->
<a href="/post/{{post.id}}">
    <div class="debug blue">
        <!-- <p class="debug">(post.id) {{post.id}}</p> -->
        <!-- <p class="debug">(post.user_id) {{post.user_id}}</p> -->
        <!-- <p class="debug">(post.user) {{post.user}}</p> -->
        <p class="debug">Posted by {{post.user.username}}</p>
        <!-- <p class="debug">(post.image_url) {{post.image_url}}</p> -->
        <img src={{post.image_url}} class="debug" width="40%" height="auto" />
        <p class="debug">description: {{post.description}}</p>

        {% timezone "EST" %}
        <p class="debug">(timezone "EST") Posted on {{post.created_at}}</p>
        {% endtimezone %}

        <p class="debug">(timezone default) Posted on {{post.created_at}}</p>
    </div>
</a>
<br />
{% empty %}

<p class="debug">There are no posts</p>
{% endfor %}

{% endblock %}