{% extends 'base.html' %}

{% block title %}Edit Post{% endblock %}

{% block content %}
<h2>Edit Post</h2>
<span class="debug">Checking again: are you "{{post.user.username}}"?</span>

{% if post.user.id == auth_profile.user_id %}
<span class="debug">yes, you're "{{auth_profile}}"! please proceed:</span>
<div>
    <img src={{post.image_url}} width="50%" height="auto" />
</div>
<form action="" method="post">
    {% csrf_token %} {{form.as_p}} <input type="submit" value="Edit post" />
</form>
{% else %}
<span class="debug">no, you're "{{auth_profile}}" - you're not supposed to be here!</span>
{% endif %}

{% endblock %}