{% extends 'base.html' %}

{% load static %}

{% block title %}Create Post{% endblock %}

{% block content %}
<header>
    <h2>Create Post</h2>
</header>
<img src="{{post_image_url}}" alt="user's image" />
<form enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <input type="text" name="image_url" value="{{post_image_url}}" />
    <input type="text" name="description" placeholder="Enter your description" />
    <input type="submit" class="btn" value="Submit" />
</form>
{% endblock %}