{% extends 'base.html' %}

{% load static %}

{% block scripts %}<script src="{% static 'scripts/app.js' %}" defer></script>{% endblock %}

{% block title %}Create Post{% endblock %}

{% block content %}
<h2>Create Post</h2>

<div class="container">
    <input type="file" class="control" />
    <!-- <label for="is-hex">
        <input type="checkbox" id="is-hex" value="false" />
        enable hex value
    </label> -->
    <!-- <div class="output"></div> -->
    <input type="button" class="corrupt" value="corrupt" onclick=changeAfterImage() />
</div>

<!-- <h1>Hexadecimal -> image</h1>
<form name="frmConvert" action="">
    <p>Hex string:</p>
    <p>
        <textarea name="hex" rows="8" cols="67" style="width: 550px;"></textarea>
    </p>
    <p>
        <button type=button name="btnConvert" onclick="convert()">
            Convert
        </button>
    </p>
</form> -->
<img class="heximage-before" src="" width="40%" />
<img class="heximage-after" src="" width="40%" />

<!-- This form can return when I know where it should go
<form method="post">
    <!-- Security Feature  -/->
    {% csrf_token %}
    <!--  Generate inputs  -/->
    {{form.as_p}}
    <!--  Submit form  -/->
    <input type="submit" value="Submit" />
</form>
-->
{% endblock %}