{% extends 'base.html' %}

{% block title %}Edit Post{% endblock %}

{% block content %}

{% if post.user.id == auth_profile.user_id %}
<header>
    <h1>Edit your post</h1>
</header>
<div class="form-and-image">
    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit" />
    </form>
    <img src={{post.image_url}} width="50%" height="auto" />
</div>
<div class="button-box">
    <a href="{% url 'post_detail' post.pk %}" class="button red">Cancel and go back</a>
</div>
{% endif %}

{% endblock %}