{% extends 'base.html' %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
<header>
    <h2>Edit Profile</h2>
</header>
<span class="debug">Checking again: are you {{profile.user.username}}?</span>
{% if profile.user.id == auth_profile.user_id %}
<span class="debug">yes, you're {{auth_profile}}! please proceed</span>


<form action="" method="post">
    {% csrf_token %} {{form.as_p}} <input type="submit" value="Edit profile" />
</form>

{% else %}
<span class="debug">no, you're {{auth_profile}}! you shouldn't be here!</span>
{% endif %}
{% endblock %}