{% extends 'base.html' %}

{% block title %}Delete Profile{% endblock %}

{% block content %}

{% if profile.user.id == auth_profile.user_id %}
<header>
    <h1>Delete your profile</h1>
</header>

<h3 class="warning">Are you sure? There's no going back!</h3>
<form action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Delete profile" />
</form>
<br />
<p>User since: {{profile.created_at | date:'F d, Y'}}</p>
<div class="button-box">
    <a href="{% url 'profile_detail' profile.pk %}" class="button red">Cancel and go back</a>
</div>
{% endif %}

{% endblock %}