{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<header>
    <h1>{{profile.user}}'s Profile</h1>
</header>
<div class="details">

    {% if profile.social_link %}
    <p>Visit them at: <a href="{{profile.social_link}}" target="_blank"
            rel="noopener noreferrer">{{profile.social_link}}</a></p>
    {% endif %}

    <p>User since: {{profile.created_at | date:'F d, Y'}}</p>
</div>
<div>

    {% if profile.user.id == auth_profile.user_id %}
    <div class="button-box">
        <a href="{% url 'profile_edit' profile.pk %}" class="button blue">Edit your profile</a>
    </div>
    {% endif %}

</div>

{% endblock %}