{% extends 'base.html' %}

{% block title %}Delete Profile{% endblock %}

{% block content %}
<header>
    <h1>Delete Profile</h1>
</header>
<span class="debug">Checking again: are you {{profile.user.username}}?</span>

{% if profile.user.id == auth_profile.user_id %}
<span class="debug">yes, you're {{auth_profile}}! please proceed:</span>
<form action="" method="post">
    {% csrf_token %} {{form.as_p}} <input type="submit" value="Delete profile" />
</form>
{% else %}
<span class="debug">no, you're {{auth_profile}}! you shouldn't be here!</span>
{% endif %}

{% endblock %}